<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Bookopedia</title>
        <link rel="stylesheet" href="/style.css">
    </head>
    <body>
        <section class="main-body">
            <div class="heading">
                <h1>Bookopedia</h1>
                <p>Welcome! Here you can see and update the list of books read by you.</p>
            </div>
            <% if(locals.data) {%>
            <div class="sub-body">
                <table>
                    <tr>
                        <th>Id</th>
                        <th>File Name</th>
                        <th>Author</th>
                        <th>Source</th>
                    </tr>
                    <tr>
                        <td><%= data.id %></td>
                        <td><%= data.filename %></td>
                        <td><%= data.author %></td>
                        <td><%= data.source_url %></td>
                    </tr>
                </table>
            </div>
            <% } if(locals.error) { %>
                <div class="error-block">
                    <p><%= error %></p>
                </div>
                <% } %>
        </section>
    </body>
</html>